header{
    background-color: transparent; height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60.5px;
    position: fixed;
    z-index: 100;
}
header h1{width: 210px;}
header img{width: 100%;}
header nav .gnb{
    display: flex; /* margin: 0 500px; */
}
header nav .gnb > li{
    margin-right: 55px;
    z-index: 200;
}
header nav .gnb > li:last-child{margin-right: 0;}
header nav .gnb > li a{
    color: #fff;
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.0rem;
    letter-spacing: 0.02em;
}
header nav .gnb > li > .sub{
    position: absolute; top: 100px;
    width: max-content;
}
header nav .gnb > li > .sub li{
    margin-bottom: 20px;
}
header nav .gnb > li > .sub li a{
    color: #fff;
}
header nav .sub_bg{
    background-color: #0000004d;
    position: absolute; display: block;
    width: 100%; height: 500px;
    z-index: 100;
    left: 0; top: 0;
}
header .lnb{display: flex;}
header .lnb > a{
    margin-right: 20px;
    width: 24px;
}
header .lnb > a:last-child{margin-right: 0;}
header .lnb a > img{width: 100%;}